In [1]:
from keras.models import load_model
model = load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [2]:

import pickle

with open('labelencoder_gender.pkl', 'rb') as f:
    labelencoder_gender = pickle.load(f)

In [3]:
with open('onehotencoder_geo.pkl', 'rb') as f:
    onehotencoder_geo = pickle.load(f)

In [4]:
with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

In [5]:
import pandas as pd

In [6]:
data = pd.DataFrame({
    'CreditScore': [600],
    'Geography': ['France'],
    'Gender': ['Male'],
    'Age': [40],
    'Tenure': [3],
    'Balance': [60000],
    'NumOfProducts': [2],
    'HasCrCard': [1],
    'IsActiveMember':[1],
    'EstimatedSalary':[101348.88]
})

In [7]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,101348.88

In [8]:
import numpy as np

data['Gender'] = labelencoder_gender.transform(data['Gender'])

In [9]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,101348.88

In [10]:
temp_df = onehotencoder_geo.transform(data[['Geography']])

In [11]:
temp_df

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1 stored elements and shape (1, 3)>

In [12]:
temp_df = pd.DataFrame(temp_df.toarray(), columns=onehotencoder_geo.get_feature_names_out(['Geography']))

In [13]:
data = pd.concat([data.drop(['Geography'], axis=1), temp_df], axis=1)

In [14]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,101348.88,1.0,0.0,0.0

In [15]:
scaler.feature_names_in_

array(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [16]:
data = scaler.transform(data)

In [17]:
data

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [18]:
r = model.predict(data)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step

In [19]:
r

array([[0.05979235]], dtype=float32)